#opciones{
  text-align: center;
  background-color: cornflowerblue;
}
#iniciojuego{
  width: 400px;
  display: inline-block;
}
#agregapalabra{
  width: 400px;
  display: inline-block;
}
#pie{
  background-color: cornflowerblue;
  display: inline-block;
}
#pie p{
  text-align: center;
}

.titulo {
  padding: 5px;
  margin: 5px;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #4cb4f2;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  width: 300px;
}